<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> A Quote on {{keyword}} </title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <h1> A Quote on {{keyword}} </h1>
    <p> {{quote}} </p>
    <p> By {{author}}</p>

    <form action="/quote">
        <input type="text" name="category" id="keyword" placeholder="Enter a Category"/>
        <button type="submit">Learn</button>
    </form>
</body>
</html>