<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Not Found</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body class="page">
    <h1>Quote Not Found</h1>
    <p>Try another category!</p>
    <p>E.g, Love, Happiness, Imagination, etc.</p>
    <form action="/quote">
        <input type="text" name="category" id="keyword" placeholder="Enter another Category" />
        <button type="submit">Learn</button>
    </form>
</body>
</html>